<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.maven.muleWithMavenLaunchType">
<listAttribute key="Mpath"/>
<stringAttribute key="Ppath" value="C:\Users\kavya\Desktop\Mulesoft\anypoint-examples-3.8(1)\anypoint-examples-3.8\proxying-a-soap-api"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.0.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="proxying-a-soap-api"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/proxying-a-soap-api"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="proxying-a-soap-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:PermSize=128M -XX:MaxPermSize=256M"/>
</launchConfiguration>
