#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/fe248f35-07a2-414f-aa9f-72506cf93082
title: salesforce_CRUD
version: V1
mediaType: application/json
protocols: [HTTPS,HTTP]
securitySchemes:
  basicAuth:
     type: Basic Authentication
     describedBy: 
       headers: 
         Authorization:
          description: Used to send the Base64-encoded "username:password"
                       credentials
          type: string
       responses:
         400:
           description: |
             Unauthorized. Either the provided username and password
             combination is invalid, or the user is not allowed to access
             the content provided by the requested URL.
          
           
/account:
  get:
    responses: 
      200:
        body: 
          application/json:
            example: !include salesforce_account_example_json/account_example_json.json
      400:
        body: 
          application/json:
            example: !include salesforce_account_example_json/error_message_response.json
  post:
    body: 
      application/json:
        example: !include salesforce_account_example_json/account_example_json.json
    responses: 
      200:
        body: 
          application/json:
            example: !include salesforce_account_example_json/message_response.json
  put:
    body: 
      application/json:
        example:  !include salesforce_account_example_json/account_example_json.json
    responses: 
      200:
        body: 
          application/json:
            example: !include salesforce_account_example_json/message_response.json
  delete:
  /{accountName}:
      get:
        queryParameters:
          accountName:
            displayName: Account Name
            type: string
            example: pavanAccount
            required: true
            description: User accountname parameter for accessing salesforce account
        responses: 
          200:
            body: 
              application/json:
                example:  !include salesforce_account_example_json/account_example_json.json
          400:
            body: 
              application/json:
                example: !include salesforce_account_example_json/error_message_response.json        
